// font-size
$fs-xs: 0.75rem;
$fs-small: 0.81rem;
$fs-normal: 0.88rem;
$fs-big: 2rem;

// font-weight
$fw-bold: 700;
$fw-normal: 400;

// color
$desaturated-blue: #1E1F36;
$grey: #ECECEC;
$green: #486336;
$soft-green: #4bb66b;


