@mixin text-style ($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin flex-pt-style {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 70px;
  @media(max-width: 1024px) {
    padding-top: 90px
  }
  @media(max-width: 768px) {
    padding-top: 0;
  }
}